@font-face {
    font-family: 'polya_regularregular';
    src: url('font/polya-webfont.eot');
    src: url('font/polya-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/polya-webfont.woff2') format('woff2'),
         url('font/polya-webfont.woff') format('woff'),
         url('font/polya-webfont.ttf') format('truetype'),
         url('font/polya-webfont.svg#polya_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Conv_Brandon_light';
  src: url('light/fonts/Brandon_light.eot');
  src: local('☺'), url('light/fonts/Brandon_light.woff') format('woff'), url('fonts/Brandon_light.ttf') format('truetype'), url('fonts/Brandon_light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Brandon_med';
  src: url('med/fonts/Brandon_med.eot');
  src: local('☺'), url('med/fonts/Brandon_med.woff') format('woff'), url('fonts/Brandon_med.ttf') format('truetype'), url('fonts/Brandon_med.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Brandon_thin';
  src: url('B/fonts/Brandon_thin.eot');
  src: local('☺'), url('B/fonts/Brandon_thin.woff') format('woff'), url('fonts/Brandon_thin.ttf') format('truetype'), url('fonts/Brandon_thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

  * {
    margin:0;
    padding:0;
  }

  #topTitle {
    font-family: 'Conv_Brandon_thin';
    text-transform: uppercase;
    font-size: 75px;
    margin: 10% 5% 0 5%;
    text-align: center;
    color: white;
  }

  .top {
    position: absolute;
    top: 0;
    padding: 0 0 0 0; 
    font-family: 'Conv_Brandon_med';
    color: rgba(64,64,64,0.6);

  }

  #age {
    position: absolute;
    display: block;
    top: 40%;
    left: 35%;
    z-index: 100;
    font-size: 45px;
    font-family: 'Conv_Brandon_med';
  }

   #name {
    display: block;
    position: absolute;
    top: 25%;
    left: 32.5%;
    z-index: 100;
    font-size: 45px;
    font-family: 'Conv_Brandon_med';
  }

  a {
    color: rgba(83,191,63,1);
    text-decoration: none; 
  }

  a:hover {
    color: rgba(83,191,63,0.5);
  }

  .before {
    position: absolute;
    margin: 4.5% 30% 0 10%; 
    font-size: 22px;
    color: white;
    text-align: left;
    font-family: 'Conv_Brandon_light';
  }

  .after {
    position: absolute;
    top: 5%;
    left: 15%;
    z-index: 100;
    margin: 0 30% 5% 10%;
    font-size: 22px;
    color: white;
    text-align: left;
    font-family: 'Conv_Brandon_light';
  }

  .after2 {
    position: absolute;
    top: 50%;
    left: 15%;
    z-index: 100;
    margin: 10% 30% 5% 10%;
    font-size: 22px;
    color: white;
    text-align: left;
    font-family: 'Conv_Brandon_light';
  }

  #nameOut {
    position: absolute;
    z-index: 100;
  }

  .button {
    display: block;
    position: absolute;
    top: 50%;
    left: 43.5%;
    z-index: 100;
    font-size: 18px;
    margin: 3% 0 0 2%;
    font-family: 'Conv_Brandon_med';
    border-style: none;
    background-color: white;
    border-radius: 3px;
    height: 30px;
    width: 80px;   
  }

  .each {
    margin: 15% 0 0 0;
  }

  .out {
    z-index: 9999;
    position: absolute;
    top: 3%;
    left: 5%;
    font-family: 'polya_regularregular';
    font-size: 250px; 
    color: white;
  } 

  .planet {
    position: absolute;
    top: 18%;
    left: 5%;
    margin: 0;
    color: white;
    font-family: 'Conv_Brandon_light';
    text-transform: uppercase;
    font-size: 24px;
    float: left;
  }

  .planet1 {
    position: absolute;
    top: 18%;
    left: 5%;
    margin: 0 0 0 14%;
    color: white;
    font-family: 'Conv_Brandon_light';
    text-transform: uppercase;
    font-size: 24px;
    float: left;
  }


  .planet2 {
    position: absolute;
    top: 18%;
    left: 5%;
    margin: 0 0 0 27%;
    color: white;
    font-family: 'Conv_Brandon_light';
    text-transform: uppercase;
    font-size: 24px;
    float: left;
  }


  .planet3 {
    position: absolute;
    top: 18%;
    left: 3.5%;
    margin: 0 0 0 40%;
    color: white;
    font-family: 'Conv_Brandon_light';
    text-transform: uppercase;
    font-size: 24px;
    float: left;
  }


  .planet4 {
    position: absolute;
    top: 18%;
    left: 4%;
    margin: 0 0 0 53%;
    color: white;
    font-family: 'Conv_Brandon_light';
    text-transform: uppercase;
    font-size: 24px;
    float: left;
  }


  .planet5 {
    position: absolute;
    top: 18%;
    left: 5%;
    margin: 0 0 0 65%;
    color: white;
    font-family: 'Conv_Brandon_light';
    text-transform: uppercase;
    font-size: 24px;
    float: left;
  }


  .planet6 {
    position: absolute;
    top: 18%;
    left: 5%;
    margin: 0 0 0 78%;
    color: white;
    font-family: 'Conv_Brandon_light';
    text-transform: uppercase;
    font-size: 24px;
    float: left;
  }


  .small {
    z-index: 9999;
    position: absolute;
    top: 39%;
    left: 4%;
    margin: 0 0 0 0;
    font-family: 'polya_regularregular';
    font-size: 45px; 
    color: white;
  }

  .small1 {
    z-index: 9999;
    position: absolute;
    top: 39%;
    left: 15%;
    margin: 0 0 0 3%;
    font-family: 'polya_regularregular';
    font-size: 45px; 
    color: white;
  }

  .small2 {
    z-index: 9999;
    position: absolute;
    top: 39%;
    left: 15%;
    margin: 0 0 0 9%;
    font-family: 'polya_regularregular';
    font-size: 45px; 
    color: white;
  }

  .small3 {
    z-index: 9999;
    position: absolute;
    top: 39%;
    left: 15%;
    margin: 0 0 0 17%;
    font-family: 'polya_regularregular';
    font-size: 45px; 
    color: white;
  }

  .small4 {
    z-index: 9999;
    position: absolute;
    top: 39%;
    left: 15%;
    margin: 0 0 0 30%;
    font-family: 'polya_regularregular';
    font-size: 45px; 
    color: white;
  }

  .small5 {
    z-index: 9999;
    position: absolute;
    top: 39%;
    left: 12%;
    margin: 0 0 0 45%;
    font-family: 'polya_regularregular';
    font-size: 45px; 
    color: white;
  }

  .small6 {
    z-index: 9999;
    position: absolute;
    top: 39%;
    left: 15%;
    margin: 0 0 0 55%;
    font-family: 'polya_regularregular';
    font-size: 45px; 
    color: white;
  }

  .small7 {
    z-index: 9999;
    position: absolute;
    top: 39%;
    left: 15%;
    margin: 0 0 0 68%;
    font-family: 'polya_regularregular';
    font-size: 45px; 
    color: white;
  }

    .o {
    z-index: 9999;
    position: absolute;
    top: 2.5%;
    left: 5%;
    font-family: 'polya_regularregular';
    font-size: 250px; 
    color: black;
  } 

  .text {
    position: absolute;
    z-index: 100;
    font-size: 20px;
    font-family: 'Conv_Brandon_light';
    text-align: left;
    margin: 35% 45% 0 5%;
    color: white;
  }

  #scroll {
    position: absolute;
    z-index: 9999;
    left: 46.5%;
    top: 125%;
  }

  .vid {
    float: left;
    margin: 3% 0 0 0;
  }

  .video {
    float: left;
    margin: 0 0 0 0;
  }

  .vid1 {
    float: left;
    margin: 4% 0 0 0;
  }

  .vid2 {
    float: left;
    display: inline-block;
    margin: 0 0 0 0;
  }

  .vid3 {
    float: left;
    margin: -30% 0 0 0;
  }

  .vid4 {
    float: left;
    margin: -40% 0 0 0;
  }

.vidp {
    float: left;
    margin: -15% 0 0 3%;
  }

  .explain {
    position: absolute;
    z-index: 100;
    font-size: 50px;
    font-family: 'Conv_Brandon_light';
    text-transform: uppercase;
    text-align: left;
    margin: 22% 5% 5% 5%;
    color: white;
    line-height: 45px;
  }

.e {
    position: absolute;
    z-index: 100;
    font-size: 50px;
    font-family: 'Conv_Brandon_light';
    text-transform: uppercase;
    text-align: left;
    margin: 25% 5% 5% 5%;
    color: black;
  }

  .ex {
    position: absolute;
    z-index: 100;
    font-size: 50px;
    font-family: 'Conv_Brandon_light';
    text-transform: uppercase;
    text-align: left;
    margin: 5% 5% 5% 5%;
    color: white;
  }

  .ext {
    position: absolute;
    z-index: 100;
    font-size: 50px;
    font-family: 'Conv_Brandon_light';
    text-transform: uppercase;
    text-align: left;
    margin: 22.5% 5% 5% 5%;
    color: white;
  }

.t {
    position: absolute;
    z-index: 100;
    font-size: 20px;
    font-family: 'Conv_Brandon_light';
    text-align: left;
    margin: 35% 45% 0 5%;
    color: black;
}

.te {
    position: absolute;
    z-index: 100;
    font-size: 20px;
    font-family: 'Conv_Brandon_light';
    text-align: left;
    margin: 35% 45% 0 5%;
    color: white;
}

.tet {
    position: absolute;
    z-index: 100;
    font-size: 20px;
    font-family: 'Conv_Brandon_light';
    text-align: left;
    margin: 32% 45% 0 5%;
    color: white;
}

.spacer {
    width: 0;
    height: 900px;
    float: left;
    clear: both;
}

.one { 
  background:rgba(11,10,22,1); 
  width: 100%; 
  height: 900px; 
  position: relative; 
  float: left; 
}

.two { 
  background: rgba(36,39,45,1);
  width: 100%; 
  height: 900px; 
  position: relative; 
  float: left; 
}

.three { 
  background: rgba(43,88,89,1); 
  width: 100%; 
  height: 900px; 
  position: relative; 
  float: left; 
}
.four { 
  background: rgba(20,23,26,1); 
  width: 100%; 
  height: 900px; 
  position: relative; 
  float: left; 
}
.five { 
  background: rgba(20,23,26,1); 
  width: 100%; 
  height: 900px; 
  position: relative; 
  float: left; 
}
.six { 
  background: rgba(36,39,47,1); 
  width: 100%; 
  height: 900px; 
  position: relative; 
  float: left; 
}
.seven { 
  background: rgba(20,23,26,1); 
  width: 100%; 
  height: 900px; 
  position: relative; 
  float: left; 
}
.eight { 
  background: rgba(40,83,92 ,1); 
  width: 100%; 
  height: 900px; 
  position: relative; 
  float: left; 
}
.nine { 
  background: rgba(237,243,164,1); 
  width: 100%; 
  height: 900px; 
  position: relative; 
  float: left; 
}

.ten { 
  background: rgba(20,23,26,1); 
  width: 100%; 
  height: 900px; 
  position: relative; 
  float: left; 
}

.latched { 
  position: fixed; 
  top: 0; 
  margin: 0;
  padding: 0;
  left: 0.25px; 
  right: 0.25px; 
  width: auto; 
}

.end {
  margin: 20% 45% 0 15%;
  color: white;
  font-size: 20px;
  font-family: 'Conv_Brandon_light';
}

#share {
  margin: 15% 0 0 0;
}

#share img {
  width: 5%;
  margin: 0 0 0 2.5%;
}




