@font-face {
    font-family: 'polya_regularregular';
    src: url('font/polya-webfont.eot');
    src: url('font/polya-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/polya-webfont.woff2') format('woff2'),
         url('font/polya-webfont.woff') format('woff'),
         url('font/polya-webfont.ttf') format('truetype'),
         url('font/polya-webfont.svg#polya_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_ultraregular';
    src: url('gotham/gotham-ultra-webfont.eot');
    src: url('gotham/gotham-ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham/gotham-ultra-webfont.woff2') format('woff2'),
         url('gotham/gotham-ultra-webfont.woff') format('woff'),
         url('gotham/gotham-ultra-webfont.ttf') format('truetype'),
         url('gotham/gotham-ultra-webfont.svg#gotham_ultraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

  * {
    margin:0;
    padding:0;
  }

  #topTitle {
    font-size: 500%;
  }

  #sub-head {
    font-size: 200%;
  }

  #inbox {
    margin: 15% 0 5% 5%;
  }

  .top {
    font-family: 'gotham_ultraregular';
    margin: 15% 0 0 0;
    text-align: center;
    color: white;
  }

  #age {
    font-size: 45px;
    font-family: 'gotham_ultraregular';
  }

   #name {
    font-size: 45px;
    margin: 0 0 2% 0;
    font-family: 'gotham_ultraregular';
  }

  #after {
    margin: 5% 0 0 0;
    font-size: 24px;
    color: white;
    font-family: 'gotham_ultraregular';
  }

  .button {
    font-size: 12px;
    margin: 0 0 0 2%;
    font-family: 'gotham_ultraregular';
    border-style: none;
    background-color: white;
    border-radius: 3px;
    height: 30px;
    width: 80px;   
  }

  .each {
    margin: 15% 0 0 0;
  }

  .out {
    position: absolute;
    top: 25%;
    left: 8%;
    font-family: 'polya_regularregular';
    font-size: 250px; 
  } 

  .text {
    font-size: 350%;
    font-family: 'gotham_ultraregular';
    text-align: left;
    margin: 40% 0 20% 5%;
    color: white;
  }

.spacer {
    width: 0;
    height: 700px;
    float: left;
    clear: both;
}

.one { 
  background:red; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}

.two { 
  background: blue; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}

.three { 
  background: green; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}
.four { 
  background: yellow; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}
.five { 
  background: blue; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}
.six { 
  background: red; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}
.seven { 
  background: yellow; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}
.eight { 
  background: yellow; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}
.nine { 
  background: yellow; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}
.ten { 
  background: yellow; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}
.eleven { 
  background: yellow; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}
.twelve { 
  background: yellow; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}
.thirteen { 
  background: yellow; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}
.fourteen { 
  background: yellow; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}
.fifteen { 
  background: yellow; 
  width: 100%; 
  height: 700px; 
  position: relative; 
  float: left; 
}

.latched { 
  position: fixed; 
  top: 0; 
  margin: 0;
  padding: 0;
  left: 1px; 
  right: 1px; 
  width: auto; 
}




